  body{
    background-image: url("bg3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  h2{
    color: white;
    text-transform: uppercase;
    font-size: 17px;
    text-align: center;
  }

  .slogan{
    color: white;
    text-transform: uppercase;
    font-size: 22px;
    margin-top: 5%;
    text-align: center;
    text-transform: none;
  }
  .custom-cursor {
    pointer-events: none;
    position: fixed;
    border-radius: 50%;
    z-index: 999;
  }
  
  .cursor {
    width: 5px;
    height: 5px;
    background-color: white;
  }
  
  .cursor-follower {
    width: 30px;
    height: 30px;
    border: 2px solid white;
  }
  
  .cursor-white {
    background-color: #fff;
  }
  
  .cursor-follow-white {
    border: 2px solid #fff;
  }
  
  .cursor-transform {
    background-color: transparent;
  }
  
  .cursor-follow-transform {
    border: unset;
    background-color: rgba(153, 153, 153, 0.4);
  }
  
  .foot{
    text-align: center;
    margin-top: 3%;
    color: white;
  }
